@media screen and (min-width: $breakpoint-md) and (max-width: $breakpoint-xl){
    
    .complog{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .complog .competence{
        padding-bottom: 18.75rem;
    }

    .complog ul li{
        line-height: 2rem;
    }

    .complog .logiciel .text{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

}

  
  
  
  @media screen and (min-width: $breakpoint-xs) and (max-width: 1023px){
    .complog{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 300px;
        margin-top: 100px;

        font-size: 1.2rem;
        
    }

    .complog ul li{
        line-height: 5rem;
    }
 
    
    .complog .competence{
        padding-bottom: 10rem;
    }

    .complog .logiciel .text{
        display: flex;
        flex-direction: column;
    }

    .complog .logiciel .text .languages{
        padding-right: 40px;
        padding-left: 0;
    }
  }
  




.complog ul{
    list-style-type: none;
    font-family: var(--font-secondary);
}


.complog .logiciel .text .languages{

    text-align: right;
}