
@media screen and (min-width: $breakpoint-md) and (max-width: $breakpoint-xl){
  
    .jaime ul{
        list-style-type: none;
        font-family: var(--font-secondary);
        font-size: 1.6rem;
        margin-top: 9.4rem;
    
    }

    .gustave{
        font-family: var(--font-secondary);
        font-size: 1.6rem;
        text-align: center;
    }
}


@media screen and (min-width: $breakpoint-xs) and (max-width: 1023px){


    .gustave{
        font-family: var(--font-secondary);
        font-size: 2rem;
        text-align: center;
    }

    .jaime{
        width: 375px;
    }

    .jaime ul{
        font-size: 1rem;
        list-style-type: none;
        font-family: var(--font-secondary);
        margin-top: 5rem;
        padding:0;

    }

    .jaime .jm li img{
        width: 50%;
        height: 50
    }
}

.jaime .imgjaime{
    display: flex;
    justify-content: center;
    align-content: center;
}



.jaime .jm{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.jaime .jm li{
    text-align: center;

}

.jaime .jm li img{
    margin-top: 3.125rem;
}



.gustave p{
    padding-top: 6.25rem;
}