@media screen and (min-width: $breakpoint-md) and (max-width: $breakpoint-xl){
    .qui{
        width: 64rem;
        height: auto;
        background-size: 66rem, auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    
.qui .left{
    padding-bottom: 22rem;
    width: 50%;
}


.qui .right{
    text-align:right;
    width: 50%;
}
}


@media screen and (min-width: $breakpoint-xs) and (max-width: 1023px){
    .qui{
        width: 300px;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    
.qui .left{
    padding-bottom: 10rem;
    font-size: 1.2rem;
    line-height: 3rem;
    text-align: center;
}

.qui .right{
    font-size: 1.2rem;
    line-height: 3rem;
    text-align: center;
}

}

.qui{

    font-family: var(--font-secondary);
    line-height: 2rem;
    font-size: 1.2rem;
}


.qui .left p{
    margin-top: 6.25rem;
}

