/* ==========================================================================
   COLORS / SETTINGS
   ========================================================================== */

:root {
    // Couleur de base
    --color-white: #fff;
    --color-black: #000;

    // Couleurs du projet
    --color-primary: #022601;
    --color-secondary: #2E5902;
    --color-third: #6E8C03;

    --color-bg-primary: #F2F0E4;
    --color-bg-secondary: #ff0000;
}
